<!DOCTYPE html>
<html>
<head><link href="../../bootstrap.min.css" rel="stylesheet" /></head>
<body>

    <div class="container">
        {$form->render('begin')}
        {$form->render($form['checks'])}
        {$form->render('end')}
	</div>

</body>
</html>
