common:
	php:
		date.timezone: Europe/Prague

	variable:
		varDir: %wwwDir%/../var
		tempDir: %varDir%
		proxiesDir: %varDir%/proxies
		logDir: %varDir%/log
		sessionsDir: %varDir%/sessions
		backupDir: %varDir%/backup
		langDir: %varDir%/lang
		lang: cs_CZ

	Application:
		application.class: Kdyby\Application\Application

	Security:
		identity.class: Kdyby\Security\Identity

	EntityDirs: [%appDir%/models, %kdybyDir%/Data, %kdybyDir%/Security]

	service:
		Nette\Loaders\RobotLoader:
			factory: Nette\Configurator::createRobotLoader
			option:
				directory: ['%appDir%', '%libsDir%', '%proxiesDir%']
			run: TRUE

		Nette\Application\IRouter:
			factory: Kdyby\Environment\Configurator::createRouter
			arguments: ['@Nette\Web\HttpRequest']

		Kdyby\PresenterTree:
			factory: Kdyby\Tools\PresenterTree\PresenterTree::createPresenterTree

production < common:

development < production:

console < development:
