services:
	foo:
		class: Kdyby\Tests\Extension\DI\Foo

factories:
	bar: Kdyby\Tests\Extension\DI\Bar

	# overwrite
	nette.cache:
		internal: TRUE

	nette.mail:
		internal: TRUE

	nette.basicForm:
		internal: TRUE

	nette.latte:
		internal: TRUE

	nette.template:
		internal: TRUE

nette:
	security:
		frames: null
