<!DOCTYPE html>
<html>
<head><link href="../../bootstrap.min.css" rel="stylesheet" /></head>
<body>

    <div class="container">
    {$form->render($form->getGroup('Skupina'))}
	</div>

</body>
</html>
