<!DOCTYPE html>
<html>
<head><link href="../../bootstrap.min.css" rel="stylesheet" /></head>
<body>

    <div class="container">
    {form $form}

    <div class="test">
    {group 'Skupina'}
	</div>

    {/form}
	</div>

</body>
</html>
