<!DOCTYPE html>
<html>
<head><link href="../../bootstrap.min.css" rel="stylesheet" /></head>
<body>

    <div class="container">
    {form $form}

    {container other}

    {/form}
	</div>

</body>
</html>
