parameters:
    doctrine:
        connections: []
        entityManagers: []
        defaultConnection: default
        defaultEntityManager: default


nette:
    security:
        frames:


dbal:
    driver: pdo_sqlite
    memory: TRUE


services:
    doctrine.registry:
        class: Kdyby\Tests\ORM\SandboxRegistry
        arguments:
            - @container
            - "%doctrine.connections%"
            - "%doctrine.entityManagers%"
            - "%doctrine.defaultConnection%"
            - "%doctrine.defaultEntityManager%"

    cacheStorage:
        class: Nette\Caching\Storages\MemoryStorage

    session:
        class: Kdyby\Tests\Http\FakeSession
