parameters:
    doctrine_connections: []
    doctrine_entityManagers: []
    doctrine_defaultConnection: default
    doctrine_defaultEntityManager: default


dbal:
    driver: pdo_sqlite
    memory: TRUE


services:
    doctrine:
        class: Kdyby\Tests\ORM\SandboxRegistry
        arguments:
            - @container
            - "%doctrine_connections%"
            - "%doctrine_entityManagers%"
            - "%doctrine_defaultConnection%"
            - "%doctrine_defaultEntityManager%"

    cacheStorage:
        class: Nette\Caching\Storages\MemoryStorage
