
kdyby:
    debugger:
        browser: "google-chrome %s"


php:
    date.timezone: Europe/Prague


services:
    cacheStorage:
        class: Nette\Caching\Storages\MemoryStorage

    session:
        class: Kdyby\Tests\Http\FakeSession
