<!DOCTYPE html>
<html>
<head><link href="../../bootstrap.min.css" rel="stylesheet" /></head>
<body>

    <div class="container">
    {var $form = NULL, $_form = NULL}
    {form foo}{/form}
	</div>

</body>
</html>
