<!DOCTYPE html>
<html>
<head><link href="../../bootstrap.min.css" rel="stylesheet" /></head>
<body>

    <div class="container">
    {form a}
    {form errors}
    {form body}
    {/form}
    {form b}
    {form errors}
    {form body}
    {/form}
	</div>

</body>
</html>
