{block #content}

    {include #something, foo => $bar}

    <a href="{link this id => 1}">link</a>

    {foreach $array as $key => $value} aaa  {$value|date} {/foreach}

    {control component}

    {block #foo}bar{/block}
